.question-card {
  /* Center the div  */
  /* margin: auto auto; */

  /* Dimensions  */
  width: 100%; /* Can be in percentage also. */
  height: auto;
  /* background-color: rgb(241, 240, 240); */
  /* padding: 16px; */
  border-radius: 16px;
  color: white;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
}

ul {
  list-style: none;
}

li {
  margin-top: 8px;
  background-color: darkgray;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
}

.question-text {
  color: darkblue;
  font-size: 27px;
}

/* Final Results  */

.final-results {
  margin: 0 auto;

  width: 100%; /* Can be in percentage also. */
  height: auto;
  margin-top: 64px;

  /* Visual  */
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

button {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: right;
  margin-left: 200px;
  margin-right: auto;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
}

.answer {
  background-color: green;
}
