body {
  font-family: "Anek Malayalam", sans-serif;
  background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);

  color: #11052c;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0 30px;
}
.nine {
  background-image: url("./image/quiz1.jpg");
  background-position: center;
  background-size: cover;
  width: auto;
  height: auto;
}
.nine h1 {
  text-align: center;
  font-size: 40px;
  padding: 1px;

  text-transform: uppercase;

  color: #f8f8f8;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.nine h1 span {
  margin-top: 5px;
  font-size: 15px;
  color: #f8f8f8;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.nine h1 span:after,
.nine h1 span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 5px;
  background-color: #f8f8f8;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  position: relative;
  width: auto;
  max-width: 700px;
  padding: 0.4em;
  margin: 10px auto;
  border-radius: 20px;
}

.quiz-details {
  position: relative;
  width: auto;
  max-width: 700px;
  padding: 0.4em;
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
